<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS  -->
    <style>
        h1{
            color:red;
            background: black;
        }
        img{
            width:100px;
            border:2px solid yellow;
        }
    </style>
    <!-- JavaScript -->
    <script>
        function h2click(){
            alert('OK');
        }
    </script>
</head>
<body>
    <h1>Main Page</h1>
    <h2 onclick="h2click()">Click</h2>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/info">Info</a>
    <img src="img/img01.jpg">
</body>
</html>