<style>
  .item_img{
    width:80px;
    height:80px;
  }
  .item_img:hover{
    width:79px;
    height:79px;
    border: 1px solid red;
  }
</style>



<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12">
        <h2>Item Page</h2>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Img</th>
              <th>Id</th>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img class="item_img" src="img/100.jpg"></td>
              <td>100</td>
              <td>Pants</td>
              <td>10000</td>
            </tr>
            <tr>
              <td><img class="item_img" src="img/101.jpg"></td>
              <td>101</td>
              <td>Shirts</td>
              <td>20000</td>
            </tr>
            <tr>
              <td><img class="item_img"  src="img/102.jpg"></td>
              <td>102</td>
              <td>Hat</td>
              <td>30000</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
</div>