<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12">
        <h2>Cust Page</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Account</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>id01</td>
              <td>James</td>
              <td>123131321231231231</td>
            </tr>
            <tr>
              <td>id02</td>
              <td>James2</td>
              <td>4343423231213123131</td>
            </tr>
            <tr>
              <td>id03</td>
              <td>James3</td>
              <td>321312312312312312</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
</div>